.board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border: 5px solid #5a3a22;
    width: fit-content;
    margin: 0 auto;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-white { background-color: #f0d9b5; }
.cell-black { background-color: #b58863; }

.piece {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
}

.piece-white { background-color: #fff; border-color: #ccc; }
.piece-black { background-color: #333; border-color: #000; }
.piece-white-king { background-color: #fff; border: 4px solid gold; }
.piece-black-king { background-color: #333; border: 4px solid gold; }

.selected {
    background-color: rgba(255, 255, 0, 0.5) !important; /* Підсвітка клітинки */
}
.must-move {
    box-shadow: inset 0 0 15px red; /* Червона підсвітка: "Ходи сюди!" */
    border: 2px solid red;
}